<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
    <clear/>
    <add name="GBW001SQL"
     providerName="System.Data.SqlClient"
     connectionString=  
     "Data Source=MSSQL1;Initial Catalog=Northwind;Integrated Security=true"
    />

    <add name="GBW001Access"
     providerName="System.Data.OleDb"
     connectionString=  
     "Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Data\Northwind.mdb;"
    />
  </connectionStrings>
  <appSettings>
    <add key="ServerType" value="SQLServer"/>
    <add key="Provider" value="SqlClient"/>
    <add key="Providerfactory" value="System.Data.SqlClient"/>
    <add key="IntegratedSecurity" value="0"/>
    <add key="InitialCatalog" value="GBRWBD121801"/>
    <add key="DataSource" value="CHRISTIAN-PC\SQL2K8GB"/>
    <add key="UserID" value="sa"/>
    <add key="Password" value="sa"/>
    <add key="ConnectTimeout" value="600"/>
    <add key="MinPoolSize" value="0"/>
    <add key="MaxPoolSize" value="100"/>
  </appSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
